body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: #e0e0e0; /* Cor do texto em um tom claro para contraste */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Fica acima de todos os outros elementos */
}

.loader {
    border: 16px solid #f3f3f3; /* Cor de fundo */
    border-top: 16px solid #3498db; /* Cor da borda superior */
    border-radius: 50%;
    width: 100px; /* Largura do círculo */
    height: 100px; /* Altura do círculo */
    animation: spin 2s linear infinite; /* Animação de rotação */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.strong {
    margin-bottom: 1rem;
}

.main-text {
    text-align: justify;
    margin: 2rem 0; /* Ajusta o espaçamento vertical */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1; /* Faz o contêiner crescer conforme o conteúdo */
    overflow: visible;
}

.main-text strong {
    margin-bottom: 1rem;
}

.main-text img {
    display: block;
    margin: 1rem auto; /* Centraliza a imagem horizontalmente */
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do contêiner */
    height: auto;
}

.title-image {
    margin: -15px auto;
    height: 3rem;
    width: 3rem;
}

.container {
    max-width: 85%;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(30, 30, 30, 0.8); /* Fundo um pouco mais claro que o fundo do body */
    border-radius: 8px;
    text-align: justify;
}

h1 {
    color: #f0f0f0; /* Cor do título em um tom claro */
    margin-top: 0;
    text-align: center;
    font-size: 2.5em; /* Aumenta o tamanho do texto do título */
}

.tree {
    list-style-type: none;
    padding: 0;
}

.tree > li {
    margin: 12px 0;
    padding: 10px;
    background-color: rgba(44, 44, 44, 0.8); /* Cor de fundo dos itens da árvore */
    border-radius: 8px;
    border: 1px solid #333; /* Borda em um tom de cinza escuro */
    position: relative;
    transition: background-color 0.3s; /* Transição suave ao mudar a cor de fundo */
}

.img-content {
    margin: 2rem;
    height: 18rem;
}

.content li {
    list-style-type: none;
    margin: 1rem; /* Ajusta o espaçamento lateral dos itens */
}

/* Estilos para os botões de toggle */
.toggle-btn {
    background-color: #333; /* Cor de fundo dos botões */
    color: #e0e0e0; /* Cor do texto dos botões */
    border: none;
    border-radius: 50%;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s; /* Adiciona transição suave */
    margin-right: 10px;
    margin-bottom: 10px;
}

.toggle-btn:hover {
    background-color: #444; /* Cor dos botões ao passar o cursor */
}

.toggle-btn.open {
    background-color: rgba(247, 24, 24, 0.7); /* Cor para indicar que a seção está aberta */
}

/* Estilos para o conteúdo escondido */
.content {
    overflow: hidden;
    padding: 10px 20px;
    background-color: #2c2c2c; /* Cor de fundo do conteúdo */
    border-radius: 8px;
    transition: max-height 0.18s ease-out, opacity 0.18s ease-out; /* Transição suave mais lenta */
    max-height: 0; /* Inicia com altura 0 */
    opacity: 0; /* Inicia invisível */
    display: none;
}

.content.show {
    max-height: 80%; /* Altura máxima para o conteúdo visível */
    opacity: 1; /* Torna visível */
    display: flex;
    transition: max-height 0.8s ease-in, opacity 0.8s ease-in; /* Animação de abrir mais lenta */
}

/* Adiciona um estilo visual de transição para mostrar/esconder o conteúdo */
.tree li:hover {
    background-color: #333; /* Cor de fundo ao passar o cursor sobre o item */
}
